<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateDataForLocalizedTables.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UpdateDataForLocalizedTables.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>WBDEVSQL</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>Embrace_IS_70_THINH</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>PWI</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Ready2Go</value>
            </setting>
            <setting name="PersistSecurityInfor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkStationID" serializeAs="String">
                <value>WBDEV</value>
            </setting>
        </UpdateDataForLocalizedTables.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService" />
        </client>
    </system.serviceModel>
</configuration>